<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
    {% include meta.html %}
  </head>
  <body>
    {% include navbar.html %}
    <div id="main-div">
      <div id="post">
        {% unless page.permalink == '/' %}
          <div class="post-title">{{ page.title }}</div>
        {% endunless %}
        <content>
          {{ content }}
          {% include swipebox.html %}
          <img src="/assets/covers/error_404_1.jpg" height="423" width="423">
        </content>
      </div>
    </div>
  </body>
</html>
